input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

    opacity: 1;

}

.NewRectForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 2rem;
}

.NewRectForm-title {
    letter-spacing: 0.1em;
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
}

.NewRectForm-xy {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.NewRectForm-p {
    margin: 0.5rem;
}

.NewRectForm-p label {
    font-weight: bold;
}

.NewRectForm button {
    padding: 0 1.3rem;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-left: 5px;
    cursor: pointer;
    transition: background 0.4s ease-out;
    outline: none;
    width: 100%;
}

.NewRectForm button:hover {
    background: rgba(0, 0, 0, 0.1);
}
.NewRectForm input,
.NewRectForm button {
    font-family: "Quicksand", sans-serif;
    height: 1.5rem;
}

.NewRectForm input {
    border-radius: 5px;
    border: transparent;
    margin-bottom: 0.5rem;
}