.Table {
    margin: 1rem;
}

.Rectangles-Draw {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 1rem;
}

.Table i {
    font-size: larger;
    padding-left: 0.5rem;
}

.Rectangles-List {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    text-align: left;
}

.Rectangles-List-Item{
    padding: 0.2rem;
}