.TodoList {
    margin: 4rem auto;
    padding: 2rem 2rem 2rem;
    width: 400px;
    background: #79f86e;
    color:black;
    box-shadow: -20px -20px 0px 0px rgba(100, 100, 100, 0.1);
    overflow: hidden;
    font-size: 1.1rem;
    font-family: 'Ubuntu', sans-serif;
}


.TodoList-Title {
    font-weight: normal;
    font-size: 2.6rem;
    letter-spacing: 0.05em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    font-family: "Quicksand", sans-serif;
    margin-bottom: 2rem;
}
